html {
    background-color: #4b3832;
}

body {
    margin: 2em;
    background-color: #3c2f2f;
    border: 3px solid #854442;
    color: #fff4e6;
    padding: 1em;
    text-align: center;
}

footer {
    padding-top: 1em;
    font-size: 12px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
}

a {
    color: #be9b7b;
}
