<!DOCTYPE HTML>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    
    <link rel="stylesheet" href="{{style}}.css">
  </head>
  
  <body>
    {{content}}
  </body>
  <footer>
    <p>Copyright © {{year}} {{author}}</p>
  </footer>
</html>
