html {
    background-color: #4b3832;
}

body {
    width: 60vw;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
    background-color: #3c2f2f;
    border: 0.2vw solid #854442;
    color: #fff4e6;
    padding: 0.5vw;
    text-align: center;
}

h1, h1 a {
    padding-bottom: 1vh;
    font-size: 3vw;
}

h2, h2 a {
    padding-bottom: 1vh;
    font-size: 2vw;
}

a {
    padding: 1vw;
    color: #be9b7b;
    font-size: 1.5vw;
}

footer {
    padding-top: 5vh;
    font-size: 1.2vw;
}
