html {
    background-color: #2c2f33;
}

body {
    width: 60vw;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
    background-color: #23272a;
    color: #ffffff;
    padding: 0.5vw;
    text-align: center;
}

h1, h1 a {
    padding-bottom: 1vh;
    font-size: 3vw;
}

h2, h2 a {
    padding-bottom: 1vh;
    font-size: 2vw;
}

p, p a{
    font-size: 1.5vw;
}

a {
    color: #99aab5;
}

footer p {
    padding-top: 5vh;
    font-size: 1vw;
}
